
@{
    ViewBag.Title = "حساب کاربری قفل شده";
}



<main class="information-page container">
    <div class="info warning-color">
        <p>حساب شما به علت اشتبا وارد کردن اطلاعات کاربری بیش از حد مجاز قفل شده است</p>
        <p>لطفا دقایقی دیگر مجدد امتحان کنید</p>
    </div>
</main>


   


