
@{
    ViewBag.Title = "خظا";
    ViewBag.Header = "خطا ...";
}

<p>@ViewBag.Error</p>



@section Navigation {


    <li class="nav-item">
        <a href="/admin" class="nav-link" aria-current="page">
            <svg class="bi pe-none me-2" width="16" height="16">
                <use xlink:href="#home"></use>
            </svg>
            خانه
        </a>
    </li>
    <li>
        <a href="/Admin/Categories" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="16" height="16">
                <use xlink:href="#speedometer2"></use>
            </svg>
            دسته بندی ها
        </a>
    </li>
    <li>
        <a href="/Admin/Souvenirs" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="16" height="16">
                <use xlink:href="#grid"></use>
            </svg>
            محصولات
        </a>
    </li>
    <li>
        <a href="/Admin/Orders" class="nav-link text-white">
            <svg class="bi pe-none me-2" width="16" height="16">
                <use xlink:href="#collection"></use>
            </svg>
            سفارشات
        </a>
    </li>

}


@section NavResponsive{
    <li class="nav-item">
        <a href="/Admin" class="nav-link py-3 border-bottom rounded-0 " aria-current="page" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="خانه" data-bs-original-title="خانه">
            <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Home"><use xlink:href="#home"></use></svg>
        </a>
    </li>
    <li>
        <a href="/Admin/Categories" class="nav-link py-3  border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="دسته بندی ها" data-bs-original-title="دسته بندی ها">
            <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Dashboard"><use xlink:href="#speedometer2"></use></svg>
        </a>
    </li>

    <li>
        <a href="/Admin/Souvenirs" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="محصولات" data-bs-original-title="محصولات">
            <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Products"><use xlink:href="#grid"></use></svg>
        </a>
    </li>
    <li>
        <a href="/Admin/Orders" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="سفارشات" data-bs-original-title="سفارشات">
            <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Customers"><use xlink:href="#collection"></use></svg>
        </a>
    </li>

}