
@{
    ViewBag.Title = "مشکل در پرداخت";
}



<main class="information-page container">
    <div class="info danger-color">
        <p>متاسفانه مشکلی در پرداخت بوجود آمده است</p>
        <p>کد خطا : @ViewBag.Error</p>
        <p>لطفا کد خطا را به ادمین سایت گزارش نمایید</p>
    </div>
</main>


