
@{
    ViewBag.Title = "فعالسازی حساب";
}

<main class="information-page container">
    <div class="info info-color">
        <p>
            حساب کاربری شما با موفقیت فعال گردید برای ورود با حساب خود میتوانید @Html.ActionLink("اینجا" , "Login" , "Users") کلیک نمایید.
        </p>
    </div>
</main>


