
@{
    ViewBag.Title = "فراموشی کلمه عبور";
}


<main class="information-page container">
    <div class="info info-color">
        <p>لینک بازیابی کلمه عبور به ایمیل شما ارسال گردید</p>
        <p>لطفا ایمیل خود را چک نمایید</p>
    </div>
</main>
