
@{
    ViewBag.Title = "ثبت نام موفق";
}
<main class="information-page container">
    <div class="info danger-color">
        <p>کاربر گرامی حساب کاربری شما با موفقیت ایجاد شد و لینک فعالسازی از طریق ایمیل برای شما ارسال گردید لطفا ایمیل خود را بررسی نمایید.</p>
    </div>
</main>
