
@{
    ViewBag.Title = "بازیابی کلمه عبور";
}



<main class="information-page container">
    <div class="info success-color">
        <p>
            کلمه عبور شما تغییر یافت لطفا برای ورود به حساب کاربری خود  @Html.ActionLink("اینجا", "Login", "Users", routeValues: null, htmlAttributes: new { id = "loginLink" }) را کلیک کلیک نمایید
        </p>
    </div>
</main>