@font-face {
  font-family: Vazir;
  src: url("../Fonts/Vazir/Root/Vazir.eot");
  src: url("../Fonts/Vazir/Root/Vazir.eot?#iefix") format("embedded-opentype"), url("../Fonts/Vazir/Root/Vazir.woff2") format("woff2"), url("../Fonts/Vazir/Root/Vazir.woff") format("woff"), url("../Fonts/Vazir/Root/Vazir.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../Fonts/Vazir/Root/Vazir-Bold.eot");
  src: url("../Fonts/Vazir/Root/Vazir-Bold.eot?#iefix") format("embedded-opentype"), url("../Fonts/Vazir/Root/Vazir-Bold.woff2") format("woff2"), url("../Fonts/Vazir/Root/Vazir-Bold.woff") format("woff"), url("../Fonts/Vazir/Root/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: Vazir;
  src: url("../Fonts/Vazir/Root/Vazir-Light.eot");
  src: url("../Fonts/Vazir/Root/Vazir-Light.eot?#iefix") format("embedded-opentype"), url("../Fonts/Vazir/Root/Vazir-Light.woff2") format("woff2"), url("../Fonts/Vazir/Root/Vazir-Light.woff") format("woff"), url("../Fonts/Vazir/Root/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: Vazir;
  src: url("../Fonts/Vazir/Root/Vazir-Medium.eot");
  src: url("../Fonts/Vazir/Root/Vazir-Medium.eot?#iefix") format("embedded-opentype"), url("../Fonts/Vazir/Root/Vazir-Medium.woff2") format("woff2"), url("../Fonts/Vazir/Root/Vazir-Medium.woff") format("woff"), url("../Fonts/Vazir/Root/Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: Vazir;
  src: url("../Fonts/Vazir/Root/Vazir-Thin.eot");
  src: url("../Fonts/Vazir/Root/Vazir-Thin.eot?#iefix") format("embedded-opentype"), url("../Fonts/Vazir/Root/Vazir-Thin.woff2") format("woff2"), url("../Fonts/Vazir/Root/Vazir-Thin.woff") format("woff"), url("../Fonts/Vazir/Root/Vazir-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: Vazir;
  src: url("../Fonts/Vazir/Root/Vazir-Black.eot");
  src: url("../Fonts/Vazir/Root/Vazir-Black.eot?#iefix") format("embedded-opentype"), url("../Fonts/Vazir/Root/Vazir-Black.woff2") format("woff2"), url("../Fonts/Vazir/Root/Vazir-Black.woff") format("woff"), url("../Fonts/Vazir/Root/Vazir-Black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Vazir-Without-Latin";
  src: url("../Fonts/Vazir/Without-Latin/Vazir-WOL.eot") format("embedded-opentype"), url("../Fonts/Vazir/Without-Latin/Vazir-WOL.ttf") format("truetype"), url("../Fonts/Vazir/Without-Latin/Vazir-WOL.woff") format("woff"), url("../Fonts/Vazir/Without-Latin/Vazir-WOL.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Vazir-Without-Latin";
  src: url("../Fonts/Vazir/Without-Latin/Vazir-Thin-WOL.eot") format("embedded-opentype"), url("../Fonts/Vazir/Without-Latin/Vazir-Thin-WOL.ttf") format("truetype"), url("../Fonts/Vazir/Without-Latin/Vazir-Thin-WOL.woff") format("woff"), url("../Fonts/Vazir/Without-Latin/Vazir-Thin-WOL.woff2") format("woff2");
  font-weight: 100;
}
@font-face {
  font-family: "Vazir-Without-Latin";
  src: url("../Fonts/Vazir/Without-Latin/Vazir-Medium-WOL.eot") format("embedded-opentype"), url("../Fonts/Vazir/Without-Latin/Vazir-Medium-WOL.ttf") format("truetype"), url("../Fonts/Vazir/Without-Latin/Vazir-Medium-WOL.woff") format("woff"), url("../Fonts/Vazir/Without-Latin/Vazir-Medium-WOL.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Vazir-Without-Latin";
  src: url("../Fonts/Vazir/Without-Latin/Vazir-Light-WOL.eot") format("embedded-opentype"), url("../Fonts/Vazir/Without-Latin/Vazir-Light-WOL.ttf") format("truetype"), url("../Fonts/Vazir/Without-Latin/Vazir-Light-WOL.woff") format("woff"), url("../Fonts/Vazir/Without-Latin/Vazir-Light-WOL.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Vazir-Without-Latin";
  src: url("../Fonts/Vazir/Without-Latin/Vazir-Bold-WOL.eot") format("embedded-opentype"), url("../Fonts/Vazir/Without-Latin/Vazir-Bold-WOL.ttf") format("truetype"), url("../Fonts/Vazir/Without-Latin/Vazir-Bold-WOL.woff") format("woff"), url("../Fonts/Vazir/Without-Latin/Vazir-Bold-WOL.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Vazir-Without-Latin";
  src: url("../Fonts/Vazir/Without-Latin/Vazir-Black-WOL.eot") format("embedded-opentype"), url("../Fonts/Vazir/Without-Latin/Vazir-Black-WOL.ttf") format("truetype"), url("../Fonts/Vazir/Without-Latin/Vazir-Black-WOL.woff") format("woff"), url("../Fonts/Vazir/Without-Latin/Vazir-Black-WOL.woff2") format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: Yekan;
  src: url("../Fonts/Yekan/Yekan.eot") format("embedded-opentype"), url("../Fonts/Yekan/Yekan.ttf") format("truetype"), url("../Fonts/Yekan/Yekan.woff") format("woff"), url("../Fonts/Yekan/Yekan.woff2") format("woff2");
  font-weight: normal;
}
html,
body {
  direction: rtl;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Vazir-Without-Latin";
    font-weight: 700;
}

a {
    font-family: "Vazir-Without-Latin";
    font-weight: 100;
}

p {
  font-family: "Vazir-Without-Latin";
  font-size: 0.9rem;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-x: hidden;
  background-color: #dee2e6;
}

html {
  height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
  color: #fff;
}

.nav-link:hover {
  background-color: #343a40;
}

.extended-sidebar {
  display: flex !important;
}
@media (max-width: 991.98px) {
  .extended-sidebar {
    display: none !important;
  }
}

.responsive-sidebar {
  display: none !important;
}
@media (max-width: 991.98px) {
  .responsive-sidebar {
    display: flex !important;
  }
}

.nav-header {
  color: #e9ecef;
}

.dropdown-item {
  font-weight: 400 !important;
  font-size: 1rem !important;
}

input, textarea, select, option, label, button {
    font-family: "Vazir-Without-Latin", sans-serif !important;
    font-weight: 100 !important;
    font-size: 0.9rem !important;
}

input, textarea, select {
  margin: 5px 0 !important;
}

.text-area-floating-label {
  top: 5px !important;
}

.bg-gray {
  background-color: #f8f9fa;
}

textarea.form-control {
  height: 150px !important;
}

table {
  font-family: "Vazir-Without-Latin", sans-serif !important;
}
table td, table th {
  vertical-align: middle;
}

.table-hover > tbody > tr:hover > * {
  --bs-table-accent-bg: #ced4da !important;
}

.table button {
  font-size: 1rem !important;
  font-weight: normal !important;
}

/*# sourceMappingURL=main.css.map */
